
.home-container {
  padding-bottom: 100px; /* space for player */
}

.content {
  padding: 20px;
  margin-bottom: 100px;
}
.tabs {
  margin-bottom: 20px;
}

.tabs button {
  margin-right: 10px;
  padding: 6px 12px;
  cursor: pointer;
}
