.player {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #181818;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

audio {
  width: 300px;
}
