.navbar {
  height: 60px;
  background-color: #121212;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  cursor: pointer;
}

.nav-links button {
  margin-left: 10px;
  padding: 6px 10px;
  cursor: pointer;
}
