.signup-container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}

.signup-container input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

.signup-container button {
  width: 100%;
  padding: 8px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
