.user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 20px;
}

.card {
  background: #eee;
  padding: 10px;
  border-radius: 8px;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
