.card{
  width: 200px;
  height: 300px;
  background-color: darkgrey;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img{
  width: 200px;
  height: 300px;
}
.cards{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}